{{#if serverMessage}}
    <h1>SERVER MESSAGE</h1>
    <h2>{{serverMessage}}</h2>
{{/if}}

<!--Show the current selection, if any-->
{{#if fields}}
    <div id="servicesResultsContainer">
        <div id="resultsContent">
            <h3>Results for {{type}}s ZIP code {{zip}}:</h3>

            <ol id="resultsList">
                {{#each results}}
                <li class="resultsItem" id="{{id}}">
                    <div class="servicesInfoContainer">
                        <p class="infoLine"><span id="serviceName">{{name}}</span>&nbsp<span id="servicePhoneNumber">{{phone}}</span></p>
                        <p class="infoLine"><span id="serviceEmail">{{email}}</span></p>
                        <p><span id="serviceStreetNum">32</span>&nbsp<span id="serviceStreetName">{{address_street}}</span></p>
                        <p>
                            <span id="serviceCity">{{address_city}}, </span>&nbsp<span id="serviceState">{{address_state}}</span>&nbsp<span id="serviceZip">{{address_zip}}</span>
                        </p>
                        <br><strong>Notes</strong><br>
                        <p>{{notes}}</p>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="mapContainer">

    </div>
{{/if}}