<header>
    <div id="homeButtonContainer">
        <a href="/client"><i class="servicesIcon fas fa-home"></i></a>
    </div>
</header>
<br><br>

{{#if serverMessage}}
    <h1>SERVER MESSAGE</h1>
    <h2>{{serverMessage}}</h2>
{{/if}}

<!--Show the current selection, if any-->
{{#if results}}
    <div id="servicesResultsContainer">
        <div id="resultsContent">
            <h3>Results for: {{type}} near ZIP code {{zip}}:</h3>

            <ol id="resultsList">
                {{#each results}}
                <li class="resultsItem" id="{{id}}">
                    <div class="servicesInfoContainer">
                        <p class="infoLine"><span id="serviceName">{{name}}{{Title}}</span></p>
                        <p class="infoLine"><span id="servicePhoneNumber">{{phone}}</span></p>
                        <p class="infoLine"><span id="serviceEmail">{{email}}</span></p>
                        <p class="infoLine"><span id="serviceStreet">{{address_street}}{{Street}}</span></p>
                        <p class="infoLine"><span id="serviceCity">{{address_city}}{{City}}, </span><span id="serviceState">{{address_state}}</span> <span id="serviceZip">{{address_zip}}{{Zip}}</span>
                        </p>
                        <br><strong>Notes</strong><br>
                        <p class="infoLine">{{notes}}{{Description}}<br/><br/>{{URL}}</p>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="mapContainer">

    </div>
{{/if}}